<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="title">
      
    </div>
    <div class="search-box">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="enter username" [(ngModel)]="username" (keyup)="searchUser()">
        </div>
      </form>
    </div>
  </div>
  <div class="content">

  </div>
</div>

<!-- <div class="container">
  <div class="row title-box">
    <div class="title text-center col-md-6">
      <h2>FIND THE GITHUB ME</h2>
    </div>
    <hr>
    <div class="col-md-3 search_box">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="username" required (keyup)="searchUser()">
        </div>
      </form>
    </div>
  </div>
</div>
<hr> -->





