.container{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 30vh;
}

h1{
    font-size: 10vh;
    font-weight: bold;
}

.heading p{
    font-size: 3vh;
}

button{
    border-radius: 20px;
    height: 5vh;
}