<!-- <div class="container">
  <div class="row full">
    <div class="col-md-5"><!--avatar + followers + following + username + date
      <img class="profile img-fluid" src="{{user.avatar_url}}">
      <p>Username {{user.name}}</p>
    </div>
  </div>
  <div>
  <div class="col-md-6">
    <h3>Repositories</h3>
    <hr>
    <div *ngFor="let repo of repos">
      <p><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></p>
      <p>{{repo.description}}</p>
      <p>Forks {{repo.forks}}</p>
      <hr>
    </div>
    </div>
  </div>
</div>
<div>




 <div>
  <ul>
    <p>Username: <a href="{{user.html_url}}">{{user.login}} </a></p>
    <p><span>Followers: {{  user.followers}}  </span>  Following  {{  user.following}}</p>
    <p>Date created:  {{user.created_at}}</p>
  </ul>
</div> -->
